<html style="background:url(/static/bg/bg.jpg) no-repeat center center fixed; background-size: cover;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Covid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>

<body>     
    <section>
       <div class="container-fluid">
         <div class="statement">
           <h2 class="select">What is Covid?</h2>
           <h4>Coronavirus disease 2019 (COVID-19) is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). </h4>
         </div>
         <div class="statement">
            <h2 class="select">Symptoms</h2>
            <h4>Common symptoms of COVID-19 include fever, cough, fatigue, breathing difficulties, and loss of smell and taste. Symptoms begin one to fourteen days after exposure to the virus.</h4>
         </div>
         <div class="statement">
            <h2 class="select">Preventive measures!</h2>
            <h4>Preventive measures include social distancing, quarantining, ventilation of indoor spaces, covering coughs and sneezes, hand washing, and keeping unwashed hands away from the face. The use of face masks or coverings has been recommended in public settings to minimise the risk of transmissions. </h4>
         </div>
         <div class="statement">
            <h2>Contact a doctor ASAP!</h2>
            <a href="/" class="btn btn-outline-dark cv-btn btn-md">Return to home</a>
         </div>
       </div>
     </section>
      
   </body>
   </html>