<html style="background:url(/static/bg/bg.jpg) no-repeat center center fixed; background-size: cover;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Pneumonia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  
</head>

<body>     
    <section>
       <div class="container-fluid">
         <div class="statement">
           <h2 class="select">What is Pneumonia?</h2>
           <h4>Pneumonia is an inflammatory condition of the lung primarily affecting the small air sacs known as alveoli</h4>
         </div>
         <div class="statement">
            <h2 class="select">Symptoms</h2>
            <h4>Symptoms typically include some combination of productive or dry cough, chest pain, fever and difficulty breathing. The severity of the condition is variable.</h4>
         </div>
         <div class="statement">
            <h2 class="select">Preventive measures!</h2>
            <h4>Vaccines to prevent certain types of pneumonia (such as those caused by Streptococcus pneumoniae bacteria or that linked to influenza) are available</h4>
         </div>
         <div class="statement">
            <h2>Contact a doctor if you haven't already!</h2>
            <a href="/" class="btn btn-outline-dark cv-btn btn-md">Return to home</a>
         </div>
       </div>
     </section>
      
   </body>
   </html>
   