<html
  style="
    background: url(/static/bg/bg.jpg) no-repeat center center fixed;
    background-size: cover;
  "
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Disease Predictor</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Manrope&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <section>
      <div class="container-fluid">
        <div class="statement">
          {% for label in labels %}
          <h2>{{ label }}</h2>
          {% if label == 'Covid' %}
          <a href="/covid" class="btn btn-outline-dark cv-btn btn-md">
            Learn more..</a
          >
          {% endif %} {% if label == 'Pneumonia' %}
          <a href="/pneumonia" class="btn btn-outline-dark cv-btn btn-md">
            Learn more..</a
          >
          {% endif %} {% if label == 'Tuberculosis' %}
          <a href="/tuberculosis" class="btn btn-outline-dark cv-btn btn-md">
            Learn more..</a
          >
          {% endif %} {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
