<html style="background:url(/static/bg/bg.jpg) no-repeat center center fixed; background-size: cover;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Tuberculosis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
</head>

<body>     
    <section>
       <div class="container-fluid">
         <div class="statement">
           <h2 class="select">What is Tuberculosis?</h2>
           <h4>Tuberculosis (TB) is an infectious disease usually caused by Mycobacterium tuberculosis (MTB) bacteria. Tuberculosis generally affects the lungs, but can also affect other parts of the body</h4>
         </div>
         <div class="statement">
            <h2 class="select">Symptoms</h2>
            <h4>The classic symptoms of active TB are a chronic cough with blood-containing mucus, fever, night sweats, and weight loss.</h4>
         </div>
         <div class="statement">
            <h2 class="select">Preventive measures!</h2>
            <h4>Prevention of TB involves screening those at high risk, early detection and treatment of cases, and vaccination with the bacillus Calmette-Guérin (BCG) vaccine</h4>
         </div>
         <div class="statement">
            <h2>Contact a doctor if you haven't already!</h2>
            <a href="/" class="btn btn-outline-dark cv-btn btn-md">Return to home</a>
         </div>
       </div>
     </section>
      
   </body>
   </html>